<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Expense</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/5084520752.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body><br>
    <h3 id="initHeading">Create expenses</h3>

    <div  class="w3-container w3-black">
        <i id="icon1" class="fas fa-home" title="Home Page"></i>
        <i id="icon2" class="fas fa-sign-out-alt" title="Sign-out"></i>
        <span id="heading">Welcome {{name}}!</span>
        <br><br><br><br><br><br><br>
   </div> 

    <table>
        <tr><td>Merchant:</td>
          <td><input id="box" type="text"></td></tr>
    <tr><td>Date:</td> <td><input id="box" type="text"></td></tr>
   <tr><td>Total (USD):</td> <td><input id="box" type="text"></td></tr>
   <tr><td>Category (Dropdown):</td> <td><input id="box" type="text"></td></tr>
   <tr><td>Description:</td> <td><input id="box" type="text"></td></tr>
   <tr><td>Employee Name:</td> <td><input id="box" type="text"></td></tr>
    </table>

   
  
   <span style="display: inline;">
    <input type="button" value="Clear"/> <input type="button" value="Save"/>
  </span>
</body>
</html>