    <table id="table" class="table table-bordered">
      <thead>
        <tr>
          <th>Merchant</th>
          <th>Category</th>
          <th>Description</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>AT&T</td>
          <td>Mobile Phone</td>
          <td>Phone Bill</td>
          <td>06/25/2021</td>
          <td>$100</td>
          <td><i id="trash1" class="fas fa-trash-alt"></i></td>
        </tr>

        <tr>
          <td>Amazon</td>
          <td>Office Supplies</td>
          <td></td>
          <td>06/24/2021</td>
          <td>$40</td>
          <td><i id="trash2" class="fas fa-trash-alt"></i></td>
        </tr>

        <tr>
          <td>Smoothie King</td>
          <td>Food/Drink</td>
          <td></td>
          <td>06/23/2021</td>
          <td>$10</td>
          <td><i id="trash3" class="fas fa-trash-alt"></i></td>
        </tr>
      </tbody>
    </table>
 