/* header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

/* create.handlebars */
div {
  border: 1px solid #666;
  display: inline-block;
  height: 50px;
  margin: 0px;
  padding: 2px;
  width: 100%;
}

#icon1 {
  line-height: 50px;
}

#icon1 {
  vertical-align: middle;
  font-size: 30px;
}

#icon2 {
  vertical-align: middle;
  font-size: 30px;
}

#heading {
  padding: 43%;
}

#initHeading {
  text-align: center;
} */

/* #box{
 text-align: ; 
} */

/* expense.handlebars */
/* div {
  border: 1px solid #666;
  display: inline-block;
  height: 50px;
  margin: 0px;
  padding: 2px;
  width: 100%;
}

#icon1 {
  line-height: 50px;
}

#icon1 {
  vertical-align: middle;
  font-size: 30px;
}

#icon2 {
  vertical-align: middle;
  font-size: 30px;
}

#icon3 {
  vertical-align: middle;
  font-size: 30px;
}

#heading {
  padding: 39%;
}

#initHeading {
  text-align: center;
}

#trash1 {
  position: relative;
  left: 58%;
}

#trash2 {
  position: relative;
  left: 60%;
}

#trash3 {
  position: relative;
  left: 60%;
} */
